
html, body {  
  margin: 0;  
  padding: 0;  
  height: 100%;  
  /*overflow: hidden; /* Evitar barras de desplazamiento */  
}  

.compact {  
  display: flex;  
  flex-direction: column;  
  min-height: 100vh;  
}  

.header {  
  background-color: #007bff;  
  color: white;  
  padding: 20px;  
  text-align: center;  
}  

.maincontent {  
  display: flex;  
  flex: 1;  
}  

.sidebar {  
  width: 100px; /* Ancho fijo para el sidebar */  
  background-color: #15181b;  
  padding: 20px;  
  border: 1px solid #f2f4f5
}  

.main {  
  display: flex; /* Asegurarte de que flex esté activo */  
  flex: 1;  
  padding: 10px;  /* Corregido para eliminar el pipe (|) */  
  background-color: rgb(123, 197, 50);  
  border: 1px solid #f2f4f5;  
  box-sizing: border-box; /* Incluye padding en el tamaño total */  
}  

.footer {  
  background-color: #0b0c0d;  
  color: white;  
  text-align: center;  
  padding: 10px 0; 
  border: 1px solid #f2f4f5 
}

.artistItems2 {  
  display: flex; /* Cambiar a flex para alinear elementos en fila */  
  flex-wrap: wrap; /* Permitir que los elementos se envuelvan en múltiples filas */  
  justify-content: flex-start; /* Alinear elementos al principio (opcional) */  
  margin: 10px; /* Espaciado entre contenedores */  
  padding: 10px; /* Espaciado interno */  
  border: 2px solid #f8f4f4; /* Borde ligero para el contenedor */  
  border-radius: 8px; /* Bordes redondeados */  
  background-color: #161313; /* Color de fondo suave */  
}  

.artistItem {  
  flex: 0 1 calc(16.66% - 10px); /* Ajustar el ancho para 6 elementos en una fila */  
  margin: 5px; /* Espaciado entre elementos */  
  box-sizing: border-box; /* Asegurarse de que el padding y el borde no afecten al ancho */  
}
