.Buttons1 {  
  padding: 10px 12px; /* Espacio interno para el botón */  
  border: none; /* Sin borde */  
  background-color: #383a3b; /* Color de fondo del botón */  
  color: white; /* Color del texto del botón */  
  border-radius: 4px; /* Bordes redondeados opcionales */  
  cursor: pointer; /* Cambiar el cursor al pasar sobre el botón */  
  display: block;            /* Hace que el botón sea un bloque */  
  margin: 0 auto;          /* Margen automático para centrar */  
  width: 120px;    
}  

.Buttons1:hover {  
  background-color: #f00c0c; /* Efecto de hover opcional para el botón */  
}

.Icono {
  width: 30px;   /* Cambia el tamaño del ícono */
  height: 30px;
  color: rgb(255, 0, 13); /* Cambia el color del ícono */
  margin-right:auto 20px; /* Espacio entre el ícono y el texto */
}