.iconiconForMenu {
  height: 20px;
  width: 20px;
  position: relative;
}
.home {
  position: relative;
  font-size: var(--font-size-xs);
  letter-spacing: -0.01em;
  line-height: 24px;
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--light-white);
  text-align: center;
  display: inline-block;
  min-width: 40px;
}
.iconiconForMenuParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.buttons {
  cursor: pointer;
  border: 1px solid var(--light-white);
  padding: var(--padding-7xs) var(--padding-12xl);
  background-color: transparent;
  border-radius: var(--br-32xl);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
