.listenAgain,
.sufyanAli {
  position: relative;
  letter-spacing: -0.01em;
  line-height: 24px;
}
.sufyanAli {
  align-self: stretch;
  width: 218px;
  display: none;
  align-items: center;
}
.listenAgain {
  margin: 0;
  font-size: var(--font-size-13xl);
  font-weight: 700;
  font-family: inherit;
}
.categoryTitle,
.listTitle,
.sufyanAliParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.sufyanAliParent {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-11xs);
}
.categoryTitle,
.listTitle {
  max-width: 100%;
}
.listTitle {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-xs) 0 0;
  box-sizing: border-box;
  min-width: 229px;
}
.categoryTitle {
  width: 413px;
  flex-direction: row;
  gap: var(--gap-xs);
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--light-white);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1050px) {
  .listenAgain {
    font-size: var(--font-size-7xl);
    line-height: 19px;
  }
}
@media screen and (max-width: 450px) {
  .listenAgain {
    font-size: var(--font-size-lgi);
    line-height: 14px;
  }
  .categoryTitle {
    flex-wrap: wrap;
  }
}
