.skipPreviousIcon {
  width: 24px;
  height: 24px;
  position: relative;
 
}
.skipButtons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0 0;
}
.playArrowIcon {
  height: 40px;
  width: 40px;
  position: relative;
}
.time {
  position: relative;
  line-height: 24px;
  display: inline-block;
  min-width: 69px;
}
.controlPanel,
.playbackButtons {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.playbackButtons {
  flex-direction: row;
  gap: var(--gap-5xs);
}
.controlPanel {
  flex-direction: column;
  padding: var(--padding-9xs) 0 0;
}
.repeatIcon {
  height: 32px;
  width: 32px;
  position: relative;
  min-height: 32px;
}
.volumeOffIcon {
  height: 24px;
  width: 24px;
  position: relative;
  display: none;
}
.controlButtons,
.playerControls,
.playerControlsWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.controlButtons {
  gap: var(--gap-6xs);
}
.playerControls,
.playerControlsWrapper {
  box-sizing: border-box;
  max-width: 100%;
}
.playerControls {
  flex: 1;
  flex-wrap: wrap;
  padding: var(--padding-xs) 0;
  gap: var(--gap-12xl);
}
.playerControlsWrapper {
  width: 100%;
  margin: 0 !important;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-gray-100);
  padding: 0 var(--padding-5xl);
  mix-blend-mode: normal;
  z-index: 1;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-gainsboro-300);
  font-family: var(--font-inter);
}
@media screen and (max-width: 750px) {
  .playerControls {
    gap: var(--gap-mini);
  }
}

.div{
  background-color: black;
}