.menuItems {
  align-self: stretch;
  height: 164px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
  gap: var(--gap-7xs);
}
.sideBarContent,
.sidebarExpandedAndCollapsed {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xl) var(--padding-base);
}
.sidebarExpandedAndCollapsed {
  justify-content: flex-start;
  padding: 0 0 var(--padding-17xl);
  text-align: center;
  font-size: var(--font-size-3xs);
  color: var(--color-lavender);
  font-family: var(--font-inter);
}
@media screen and (max-width: 450px) {
  .menuItems {
    height: 164px;
  }
}
